# Ignore image files
*.png
*.jpg
*.jpeg
*.gif
*.tiff
*.bmp
*.webp
*.pt
*.json

# Ignore folders
ORIGINAL FILES/
label-studio-ml-backend/
auto-annotation/
ml-model
path/
runs/
predictions/
data/
__pycache__/
models/
